.about-us {
  padding: 178px 48px 59px 50px;
  background-image: url("../assets/Images/wave-texture.jpg");
  background-size: fill;
  background-repeat: no-repeat;

  .headline-container {
    margin: auto;
    width: fit-content;

    .eyebrow {
      letter-spacing: calc(14px * 0.16); // 16% of 14px
      margin-bottom: 6px;
    }

    h2 {
      margin: 0;
      max-width: 1097px;
      font-size: 96px;
      line-height: 98.5px;
    }
  }
}