.contact {
  position: relative;
  padding: 80px 115px 57px 113px;
  display: flex;
  gap: 84px;
  border-radius: 24px;
  background-color: map-get($theme, "off-white");

  .content {
    max-width: 438px;

    .eyebrow {
      margin: 0 0 15px;
      letter-spacing: calc(14px * 0.16); // 16% of 14px;
    }

    h3 {
      font-size: 64px;
      line-height: 70px;
      margin: 0 0 15px;
    }

    p {
      font-size: 18px;
      line-height: 1.6;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    label {
      font-size: 16px;
      line-height: 24px;
    }

    input, 
    select,
    textarea {
      padding: 11px 12px;
      border: 1px solid #6B7079; // TODO: move to theme palette
      border-radius: 4px;
    }

    .field-group {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .personal-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 24px;
      padding: 0;
      border: none;
    }

    .cta {
      @include cta-button(map-get($theme, "orange"), "even");
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      margin-top: 13px;

      &:hover {
        background-color: map-get($theme, "purple");
      }
    }
  }
}