* {
  box-sizing: border-box;
}

body {
  background-color: map-get($theme, "white");
  padding: 0;
  margin: 0;
}

main {
  max-width: 1440px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}